@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Copse);

body {
  font-family: Asap, 'Trebuchet MS', Arial, sans-serif;
  
  margin: 20px auto;
  width: 800px;
}
a {
  color: #348;
  text-decoration: inherit;
}
header nav a {
  color: inherit;
}
h1, h2, h3, h4 {
  /*font-weight: normal;*/
}
input, select, textarea, button {
  font-family: inherit;
  padding: 3px;
}


header nav {
  /*line-height: 80px;*/
  padding-bottom: 25px;
}
header {
  border-bottom: 1px solid #ccc;
}
h1 {
  font: 50px 'Copse', Georgia, serif;
  color: #111;
  letter-spacing: 1px;

  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 50px 0 30px;
  border-right: 1px solid #ccc;
  line-height: inherit;
}
h1 a:hover {
  color: #a43;
  
  -moz-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

header ul {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 0 0 50px;
  list-style: none;
  text-transform: uppercase;
}
header ul li {
  font-size: 36px;
  
  float: left;
  margin: 0 25px 0 0;
}
header ul li a {
  max-width: 1em;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  transition: max-width 0.3s ease-in-out;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
header ul li a:hover {
  max-width: 200px;
}
header ul li a span {
  padding-right: 0.15em;
  color: #a43;
}
header ul li a:hover, header ul li.current a:hover {
  border-bottom: 3px solid #a43;
}
header ul li.current a {
  border-bottom: 3px solid #d48e83;
}
.auth {
  position: absolute;
  top: 0; right: 0;
  margin-right: 1em;
}

.positions {
  list-style: none;
  padding-left: 0;
}
.positions li {
  margin-bottom: 0.5em;
}
.positions li:before, .position {
  content: attr(value);

  font-family: Copse;

  background: #a43;
  color: white;
  border-radius: 100px;
  margin-right: 0.3em;

  display: inline-block;
  width: 1.4em;
  line-height: 1.4em;
  text-align: center;
}
.positions .client-answer { float: right; }
.icon-check-sign { color: #5b5; }
.icon-remove-sign { color: #e33; }
.icon-circle-blank { color: #bbb; }

input.answer {
  font-size: 1.5em;
  text-align: center;
}
.current-clip {
  padding: 0.5em 0;
  text-align: center;
  background: #eee;
  margin-bottom: 1.0em;
}
