@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Copse);

body {
  font-family: Asap, 'Trebuchet MS', Arial, sans-serif;
  
  margin: 20px auto;
  width: 800px;
}
a {
  color: #348;
  text-decoration: inherit;
}
header a {
  color: inherit;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
input, select, textarea, button {
  font-family: inherit;
  padding: 3px;
}


header {
  line-height: 80px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}
h1 {
  font: 50px 'Copse', Georgia, serif;
  color: #111;
  letter-spacing: 1px;
  
  float: left;
  margin: 0;
  padding: 0 50px 0 30px;
  border-right: 1px solid #ccc;
  line-height: inherit;
}
h1 a:hover {
  color: #a43;
  
  -moz-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

header ul {
  float: left;
  display: inline;
  margin: 0;
  padding: 0 0 0 50px;
  list-style: none;
  text-transform: uppercase;
}
header ul li {
  font-size: 26px;
  
  float: left;
  margin: 0 25px 0 0;
}
header ul li a span {
  padding-right: 0.15em;
  color: #a43;
}
header ul li a:hover, header ul li.current a:hover {
  border-bottom: 3px solid #a43;
}
header ul li.current a {
  border-bottom: 3px solid #d48e83;
}

.positions {
  list-style: none;
}
.positions li:before {
  content: attr(value);

  font-family: Copse;

  background: #a43;
  color: white;
  border-radius: 100px;
  margin-right: 0.3em;

  display: inline-block;
  width: 1.3em;
  line-height: 1.3em;
  text-align: center;
}

input.answer {
  font-size: 2em;
  text-align: center;
}
.current_clip {
  padding: 0.5em 0;
  text-align: center;
  background: #eee;
}
