{% load staticfiles %}<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}spoticle{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "style.css" %}">

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <h1><a href="{% url 'index' %}">spoticle</a></h1>
      <ul>
        <li><a class="play"    href="{% url 'play'    %}"><span class="icon-play-sign"   ></span> play</a></li>
        <li><a class="compose" href="{% url 'compose' %}"><span class="icon-edit-sign"   ></span> compose</a></li>
        <li><a class="random"  href="{% url 'random'  %}"><span class="icon-warning-sign"></span> random</a></li>
      </ul>
    </nav>
    <div class="auth">
    {% if user.is_authenticated %}
      <p>Welcome, <strong>{{ user.username }}</strong>! <a href="{% url 'logout' %}">Log out?</a></p>
    {% else %}
      <p><a href="{% url 'login' %}">Log in</a></p>
    {% endif %}
    </div>
  </header>
  <div role="main">
    {% block content %}
    {% endblock content %}
  </div>
  <footer>

  </footer>
</body>
</html>
