{% extends "base.html" %}

{% block content %}
<h2><strong>{{ quiz.name }}</strong></h2>
<p><cite>By <strong>{{ quiz.created_by.username }}</strong></cite></p>
<p>{{ quiz.description }}</p>

<section class="current_clip">
	<p>
	{% if quiz.question %}
		{{ quiz.question }}
	{% else %}
		Current clip question
	{% endif %}
	</p>
	<p><input class="answer" type="text" placeholder="Answer" /></p>
	<p class="sound_bar">
		<audio controls height="100" width="100">
		  <source src="{{quiz.path}}" type="audio/mpeg">
		  <embed height="50" width="100" src="{{quiz.path}}">
		</audio>
	</p>
</section>

<h3>Clips</h3>
<ol class="positions">
{% for quizclip in quiz.quizclip_set.all %}
	<li value="{{ quizclip.position }}"><a href="{% url 'clip' quizclip.clip.id %}">{{ quizclip.clip.name }}</a></li>
{% endfor %}
</ol>
{% endblock content %}
