{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h2>{{ quiz.name }}</h2>
<p><cite>By <strong>{{ quiz.created_by.username }}</strong> <time>{{ quiz.pub_date | naturaltime }}</time></cite></p>
<p>{{ quiz.description }}</p>

<section class="current-clip">
	<p>
		<span class="position">4</span>
	{% if quiz.question %}
		{{ quiz.question }}
	{% else %}
		Current clip question
	{% endif %}
	</p>
	<p><input class="answer" type="text" placeholder="Answer" /></p>
	<p class="sound-bar">
		<audio controls height="100" width="100">
			<source src="{{ quiz.path }}" type="audio/mpeg" />
			<embed height="50" width="100" src="{{ quiz.path }}" />
		</audio>
	</p>
</section>

<h3>Clips</h3>
<ol class="positions">
{% for quizclip in quiz.quizclip_set.all %}
	<li value="{{ quizclip.position }}">
		<a href="{% url 'clip' quizclip.clip.id %}">{{ quizclip.question }}</a>
		{{ quizclip.duration }}
		<span class="client-answer">
			My answer
			{% if quizclip.correct == True %}
				<span class="icon-check-sign"></span>
			{% elif quizclip.correct == False %}
				<span class="icon-remove-sign"></span>
			{% elif quizclip.correct == None %}
				<span class="icon-circle-blank"></span>
			{% endif %}
		</span>
	</li>
{% endfor %}
	<li value="6">
		<a>Another clip</a>
		<span class="client-answer">My answer <span class="icon-check-sign"></span></span>
	</li>
	<li value="42">
		<a>Another clip</a>
		<span class="client-answer">My answer <span class="icon-remove-sign"></span></span>
	</li>
</ol>
{% endblock content %}
